{% load i18n %}
<div class="row">
    <div class="col-md-4 col-md-offset-4 container">
        <div class="page-header">
            <h1>{% trans 'Authentication' %}</h1>
        </div>
        <form  ng-submit="submit()">
            <fielset>
                {% csrf_token %}
                <input class="hidden" type="text" name="next" ng-model="next" value="/authentication"/>
                <div class="form-group">
                    <label>{% trans 'Login' %}</label>
                    <input type="text" class="form-control" ng-model="user.username" name="username"/>
                </div>
                <div class="form-group">
                    <label>{% trans 'Password' %}</label>
                    <input type="password" class="form-control" ng-model="user.password" name="password"/>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary form-control" value="{% trans 'Login' %}"/>
                </div>
                <div class="form-group">
                    <a href="{% url 'userPages:create' %}" class="btn btn-primary form-control" >{% trans 'Create an account' %}</a>
                </div>
                <div class="form-group">
                    <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true"></div>
                    <div id="status">
                    </div>
                </div>
                <div class="form-group">
                    {$ message $}
                </div>
            </fielset>
        </form>
    </div>
</div>