{% load i18n %}
<div class="row">
    <div class="page-header">
        <h1>{% trans 'Authentication' %}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form  ng-submit="submit()">
            <fielset>
                {% csrf_token %}
                <input class="hidden" type="text" name="next" ng-model="next" value="/authetication"/>
                <div class="form-group">
                    <label>{% trans 'Login' %}</label>
                    <input type="text" class="form-control" ng-model="user.username" name="username"/>
                </div>
                <div class="form-group">
                    <label>{% trans 'Password' %}</label>
                    <input type="password" class="form-control" ng-model="user.password" name="password"/>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary form-control" value="{% trans 'Login' %}"/>
                </div>
                <div class="form-group">
                    {$ message $}
                </div>
            </fielset>
        </form>
    </div>
</div>