{% extends 'site_base.html' %}
{% load auth_tag %}
{% load staticfiles %}
{% load i18n %}
{% block body %}
    <div class="row">
        <div class="page-header">
            <h1>{% trans 'Create an account' %}</h1>
        </div>
    </div>
    <div class="row" ng-app="UserApp">
        <div class="col-md-5 col-md-offset-2" ng-controller="UserController as userCtrl">
            <form ng-if="!success">
                <div class="form-group">
                    <label>{% trans 'First Name' %}</label>
                    <input type="text" class="form-control" ng-model="user.first_name" placeholder="{% trans 'first name' %}"/>
                    <p class="text-danger" ng-repeat="e in error.first_name">{$ e $}</p>
                </div>
                <div class="form-group">
                    <label>{% trans 'Last Name' %}</label>
                    <input type="text" class="form-control" ng-model="user.last_name" placeholder="{% trans 'last name' %}"/>
                    <p class="text-danger" ng-repeat="e in error.last_name">{$ e $}</p>
                </div>
                <div class="form-group">
                    <label>{% trans 'User Name' %}</label>
                    <input type="text" class="form-control" ng-model="user.username" placeholder="{% trans 'username' %}"/>
                    <p class="text-danger" ng-repeat="e in error.username">{$ e $}</p>
                </div>
                <div class="form-group">
                    <label>{% trans 'Email' %}</label>
                    <input type="text" class="form-control" ng-model="user.email" placeholder="{% trans 'email' %}"/>
                    <p class="text-danger" ng-repeat="e in error.email">{$ e $}</p>
                </div>
                <div class="form-group">
                    <label>{% trans 'Password' %}</label>
                    <input type="text" class="form-control" ng-model="user.password" placeholder="{% trans 'password' %}"/>
                    <p class="text-danger" ng-repeat="e in error.password">{$ e $}</p>
                </div>
                <div class="form-group">
                    <input type="sumit" ng-click="submit()" class="btn btn-default form-control" value="{% trans 'Sign up' %}"/>
                </div>
            </form>
            <div ng-if="success">
                <h2 class="text-success">{% trans 'Account created with success!' %}</h2>
                <a href="/authentication/" class="btn btn-default">{% trans 'Sign in' %}</a>
            </div>
        </div>
    </div>
{% endblock body %}
{% block scripts %}
    <script src="{% static 'angular/angular.min.js' %}"></script>
    <script src="{% static 'create_user/createController.js' %}"></script>
{% endblock scripts %}