{% extends 'site_base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block body %}
    <div class="row">
        <div class="page-header">
            <h1>{% trans 'Create an account' %}</h1>
        </div>
    </div>
    <div class="row" ng-app="UserApp">
        <div class="col-md-5 col-md-offset-2" ng-controller="UserController as userCtrl">
            <form ng-if="!success" name="aform">
                <div class="form-group">
                    <label>{% trans 'First Name' %}</label>
                    <input type="text" class="form-control" ng-model="user.first_name" placeholder="{% trans 'first name' %}"/>
                    <p class="text-danger" ng-repeat="e in error.first_name">{$ e $}</p>
                </div>
                <div class="form-group">
                    <label>{% trans 'Last Name' %}</label>
                    <input type="text" name="lastName"class="form-control" ng-model="user.last_name" placeholder="{% trans 'last name' %}"/>
                    <p class="text-danger" ng-repeat="e in error.last_name">{$ e $}</p>
                </div>
                <div class="form-group">
                    <label>{% trans 'User Name' %}</label>
                    <input type="text" name="username" class="form-control" ng-model="user.username" placeholder="{% trans 'username' %}" required />
                    <span  style="color:red" ng-show="aform.username.$pristine">
                        <span  ng-show="aform.username.$error.required">{% trans 'User name is required' %}</span>
                    </span>
                </div>
                <div class="form-group">
                    <label>{% trans 'Email' %}</label>
                    <input type="email" name="email" class="form-control" ng-model="user.email"  placeholder="{% trans 'email' %}" required>
                    <span  style="color:red" ng-show="aform.email.$dirty && aform.email.$invalid">
                        <span  ng-show="aform.email.$error.required">{% trans 'Email is required' %}</span>
                        <span  ng-show="aform.email.$error.email">{% trans 'Invalid email address.'%}</span>
                    </span>

                </div>
                <div class="form-group">
                    <label>{% trans 'Password' %}</label>
                    <input type="password" name="password" class="form-control" ng-model="user.password" placeholder="{% trans 'password' %}"/>
                    <p class="text-danger" ng-repeat="e in error.password">{$ e $}</p>
                </div>
                <div class="form-group">
                    <label>{% trans 'Retype password' %}</label>
                    <input type="password" name="retype_password" class="form-control" ng-model="user.retype_password" placeholder="{% trans 'Retype password' %}"/>
                    <span  style="color:red" ng-show="aform.retype_password.$pristine">
                        <span  ng-show="aform.retype_password.$error.required">{% trans 'The passwords are not equal' %}</span>

                    </span>
                </div>
                <div class="form-group">
                    <input type="sumit" ng-click="submit()"
                           ng-disabled="aform.username.$pristine || aform.email.$dirty && aform.email.$invalid"
                           class="btn btn-default form-control" value="{% trans 'Sign up' %}"/>
                </div>
            </form>
            <div ng-if="success">
                <h2 class="text-success">{% trans 'Account created with success!' %}</h2>
                <a href="{% url 'authentication:index' %}" class="btn btn-default">{% trans 'Sign in' %}</a>
            </div>
        </div>
    </div>
{% endblock body %}
{% block scripts %}
    <script src="{% static 'angular/angular.min.js' %}"></script>
    <script>
        var url_users = "{% url 'user:create' %}";
    </script>
    <script src="{% static 'create_user/createController.js' %}"></script>
{% endblock scripts %}